<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="info">
        <h1>Ingredients</h1>

        <ul class="ingredients">
            {% for i in ingredients %}
                <li>
                    <span class="check"></span>
                    {{ i }}
                </li>
            {% endfor %}
        </ul>
    </div>

    
</body>
</html>