<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">

    <title>{{ name }}</title>
</head>

<body>

    <div class = "layout">
        <aside class = "sidebar">

            <a href="http://127.0.0.1:5000/">Home</a>

            <ul>
                <li><a href="{{ url_for('info', name=name) }}" target = "content-frame">{{name}}</a></li>  
                <li><a href="{{ url_for('ingredients', name=name) }}" target = "content-frame">Ingredients</a></li>
                <li><a href="{{ url_for('steps', name=name) }}" target = "content-frame">Steps</a></li>
            </ul>



        </aside>

    

        <main class="content">
            <iframe name="content-frame" src="{{ url_for('info', name=name) }}"></iframe>
        </main>

        <footer>
            <p>Author: Nathan Dai</p>
            <p><a href="mailto:nathan.dai27@stgeorgs.bc.ca">nathan.dai27@stgeorgs.bc.ca</a></p>
        </footer>

    </div>

</body>
</html>